.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navlinks {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 20px;
    margin-right: 50px;
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Just Add Water', sans-serif;
    color:  rgb(10, 66, 130);
}

.links {
    padding: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}